* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 30px auto;
}

.header {
  color: red;
  font-size: 50px;
  font-family: cursive;
}

p {
  font-family: monospace;
  font-size: 20px;
  color: dimgrey;
}